{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ trans(key="title", lang=lang) }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% include "_variables.html" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ get_url(path="juice.css") }}" defer>
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% block header %}

    <header class="pos-absolute" style="background-color: transparent">
        {{ macros::render_header() }}
    </header>

    <div class="hero">
        {% block hero %}
        <section class="text-center">
            <h1 class="heading-text" style="font-size: 50px">
                {{ trans(key="title", lang=lang) }}
            </h1>
            <h3 class="title-text">
                {{ trans(key="text_template", lang=lang) }}
            </h3>
            <div>
                <a title="Email" style="color:#543631;" href="mailto:{{ trans(key='email', lang=lang) }}"><i class="fas fa-envelope-square fa-3x"></i></i></a>
                <a title="Instagram" style="color:#543631;" href="https://www.instagram.com/kheironhidromel/"><i class="fab fa-instagram-square fa-3x"></i></a>
                <a title="Facebook" style="color:#543631;" href="https://www.facebook.com/kheironhidromel/"><i class="fab fa-facebook-square fa-3x"></i></a>
                <a title="Shopping" style="color:#543631;" href="https://loja.confraria33.com.br/kheiron"><i class="fas fa-shopping-cart fa-3x"></i></a>
            </div>
        </section>
        <img class="hero-image" style="width: 50%" src="{{ get_url(path="juice.svg") }}">

        <div class="explore-more text"
            onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            {{ trans(key="read_more", lang=lang) }} ⇩
        </div>
        <style>
            .hero section {
                padding: 0 5rem;
            }
            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>
        {% endblock hero %}
        
        <div id="overlay-maioridade" class="modal fade show" role="dialog" aria-modal="true">
            <div class="modal-dialog modal-dialog-centered" role="document"> 
                <div class="modal-content"> 
                    <div class="modal-body"> 
                        <div class="row"> 
                            <div class="col-12 text-center texto"> 
                                <img style="width: 45%" src="juice.svg"> 
                                <h2>Bem Vindo!!!</h2> 
                                <p>Sua idade é superior a <strong>18</strong> anos?</p> 
                            </div> 
                            <div class="buttons mt-3 d-flex flex-wrap col-12 p-0 justify-content-center align-items-center"> 
                                <button type="button" class="btn btn-close" data-toggle="modal" data-target="#overlay-maioridade">Sim</button> 
                                <button type="button" class="btn btn-not" onclick="location.href='http://www.google.com.br'">Não</button> 
                            </div> 
                            <div class="col-12 mt-4 d-flex justify-content-center texto2"> 
                                <p>Conteúdo para maiores de 18 anos.</p> 
                            </div> 
                            <p class="mt-2 w-100 text-center final">A venda de bebidas alcoólicas é proibida para menores de 18 anos.</p> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div>
    </div>

    {% endblock header %}

    <main>
        {% block toc %}
        {% if section.toc %}
        {% set toc = section.toc %}
        {% elif page.toc %}
        {% set toc = page.toc %}
        {% endif %}
        {% if toc %}
        <div class="toc">
            <div class="toc-sticky">
                {% for h in toc %}
                <div class="toc-item">
                    <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
                </div>
                {% if h.children %}
                {% for h2 in h.children %}
                <div class="toc-item-child">
                    <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endblock toc %}

        <div class="content text">
            {% block content %}
            <div id="features" class="heading-text">Sobre</div>
            {{ section.content | safe }}
            {% endblock content %}
        </div>

    </main>

    {% block footer %}
    <footer>
        <small class="subtext">
            <a href="https://www.kheironhidromeis.com.br">Kheiron Hidromeis</a> © 2020
        </small>
    </footer>
    {% endblock footer %}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js" integrity="sha512-teGKRDIINyavMA8HWd2it9556yHW6RLuay1xk3s/d87nSU/GGFgt4DNwmAhrZUdpKtgTQCdISUvA0sZqrLpczg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    function highlightNav(heading) {
        let pathname = location.pathname;
        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });
        document.querySelector(".toc a[href='" + pathname + "#" + heading + "']").classList.add("active");
    }

    let currentHeading = "";
    window.onscroll = function () {
        let h = document.querySelectorAll("h1,h2,h3,h4,h5,h6");
        let elementArr = [];

        h.forEach(item => {
            if (item.id !== "") {
                elementArr[item.id] = item.getBoundingClientRect().top;
            }
        });
        elementArr.sort();
        for (let key in elementArr) {
            if (!elementArr.hasOwnProperty(key)) {
                continue;
            }
            if (elementArr[key] > 0 && elementArr[key] < 300) {
                if (currentHeading !== key) {
                    highlightNav(key);
                    currentHeading = key;
                }
                break;
            }
        }
    }
    $(document).ready(function() {
        $("#overlay-maioridade").modal();
    });
</script>

</html>
